# dependencies
node_modules/

# build / cache
dist/
.temp/
.cache/
.vite/

# typescript
*.tsbuildinfo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / OS
.idea/
.DS_Store

# local-only
pnpm-lock.yaml
yarn.lock
package-lock.json